<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-select
    [(ngModel)]="selectedHotel"
    (ionChange)="loadHotelEvent($event)"
    fill="outline"
    label="Select Hotel"
    labelPlacement="stacked"
    multiple="false"
    placeholder="Select Hotel"
  >
    <ion-select-option *ngFor="let hotel of hotels" [value]="hotel._id"
      >{{hotel.hotelName}}</ion-select-option
    >
  </ion-select>
  <br />
  <ion-segment value="0" (ionChange)="segmentChanged($event)" mode="ios">
    <ion-segment-button value="0">
      <ion-label>Received</ion-label>
    </ion-segment-button>

    <ion-segment-button value="3">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-text color="primary" class="ion-text-center" *ngIf="orders.length == 0">
    <h1>No Orders!</h1>
  </ion-text>

  <ion-list *ngIf="orders.length > 0">
    <ion-list-header>
      <ion-label>All Orders here</ion-label>
    </ion-list-header>
    <ng-container *ngFor="let order of orders">
      <ion-card *ngIf="order">
        <ion-card-header>
          <ion-card-title>Order ID: {{ order.orderId }}</ion-card-title>
          <ion-card-subtitle
            >{{ order.products.length }} item(s)</ion-card-subtitle
          >
        </ion-card-header>

        <!-- List of Products -->
        <ion-list>
          <ion-item *ngFor="let product of order.products">
            <ion-avatar slot="start">
              <img
                [src]="product.dishInfo?.image_url || 'assets/placeholder.png'"
              />
            </ion-avatar>
            <ion-label>
              <h2>{{ product.dishInfo?.name }}</h2>
              <p>Partner Price: ₹{{ product.dishInfo?.partnerPrice }}</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <!-- Action Buttons -->
        <ion-footer class="ion-padding" *ngIf="order.orderStatus != 3">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-button
                  expand="block"
                  color="success"
                  (click)="acceptOrder(order._id)"
                >
                  Accept
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button
                  expand="block"
                  color="danger"
                  (click)="rejectOrder(order._id)"
                >
                  Reject
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-footer>
      </ion-card>
    </ng-container>
  </ion-list>
</ion-content>
